:root {
    --white: #ffffff;
    --black: #272524;
    --primary: #ff7000;
    --secondary: #504e4d;
  
    --fuenteprincipal: "Teko", sans-serif;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /** Globales **/
  body{
      background-color: var(--secondary);
      font-size: 1.6rem;
      line-height: 1.5;
  }
  p{
      font-size: 1.8rem;
      font-family: Arial, Helvetica, sans-serif;
      color: var(--white);
  }
  a{
      text-decoration: none;
      color: var(--white);
  }
  img{
      max-width: 100%;
      max-height: 10rem;
  }
  .contenedor{
      max-width: 120rem;
      margin: 0 auto;
  }
  h1, h2, h3{
      text-align: center;
      color: var(--white);
      font-family: var(--fuenteprincipal);
  }
  h1{ font-size: 4rem; }
  h2{ font-size: 3.2rem; }
  h3{ font-size: 2.4rem; }
  
  /*Header*/
  .header{
      display: flex;
      justify-content: center;
  }
  
  .header__logo{
      margin: 2rem 0;
  }
  
  /*Navegacion*/
  .navegacion{
      background-color: var(--black);
      padding: 1rem 0;
      display: flex;
      justify-content: center;
      gap: 2rem;
  }
  .navegacion__enlace{
      font-family: var(--fuenteprincipal);
      font-size: 3rem;
  }
  .navegacion__enlace--activo,
  .navegacion__enlace:hover{
      color: var(--primary);
  }
  
  /*Grid*/
  .nosotros{
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    margin: 0 1rem;
}
.nosotros__bloque, .nosotros__imagen{
    background-color: var(--black);
}

.nosotros__bloque p{
    padding: 1rem;
}
.nosotros__imagen{
    max-height: fit-content;
    grid-row: 1 / 2;
}

@media (min-width: 768px) { 
    .nosotros{
        grid-template-columns: repeat(2, 1fr);
    }
    .nosotros .nosotros__imagen{
        width: 100%;
        grid-column: 2 / 3;
    } 
}

/*Porque Comprar con nosotros*/
.contenedor{

}
.comprar{

}
.comprar__titulo{

}
.bloques{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 0 1rem;
}
.bloque p{
    text-align: justify;
    padding: 0 1rem;
}
@media(max-width: 375px){
    .bloque p{
        font-size: 1.5rem;
    }
}
.bloque{
    background-color: var(--black);
    text-align: center;
}
.bloque__titulo{
    color: var(--primary);
    margin: 0;
}
.bloque__img{
    width: 100%;
}

@media(min-width: 768px){
    .bloques{
        grid-template-columns: repeat(4, 1fr);
    }
}

 