:root {
  --white: #ffffff;
  --black: #272524;
  --primary: #ff7000;
  --secondary: #504e4d;

  --fuenteprincipal: "Teko", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/** Globales **/
body{
    background-color: var(--secondary);
    font-size: 1.6rem;
    line-height: 1.5;
}
p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}
a{
    text-decoration: none;
    color: var(--white);
}
img{
    max-width: 100%;
    max-height: 10rem;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3{
    text-align: center;
    color: var(--white);
    font-family: var(--fuenteprincipal);
}
h1{ font-size: 4rem; }
h2{ font-size: 3.2rem; }
h3{ font-size: 2.4rem; }

/*Header*/
.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 2rem 0;
}

/*Navegacion*/
.navegacion{
    background-color: var(--black);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.navegacion__enlace{
    font-family: var(--fuenteprincipal);
    font-size: 3rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--primary);
}

/*Grid*/
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 0 0.5rem;
}

@media (min-width: 768px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

/*Productos*/
.producto{
    background-color: var(--black);
    padding: 1rem;
}
.producto__imagen{
    max-width: 100%;
    max-height: 80rem;
}
.producto__info{

}
.producto__nombre{
    font-weight: bold;
    font-size: 3rem;
}
.producto__nombre:hover{
    transition: 0.09s;
    font-size: 3.4rem;
    color: var(--primary);
}
.producto__precio{
    font-size: 2.5rem;
    color: var(--primary);
}
.producto__nombre,
.producto__precio{
    font-family: var(--fuenteprincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/*Banners horizontales*/
.grafico{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}
.grafico--banner1{
    grid-row: 2 / 3;
    background-image: url(../img/chessusBurger5.jpeg);
}
.grafico--banner2{
    background-image: url(../img/chessusBurger6.jpeg);
    grid-row: 8 / 9;
}
@media (min-width: 768px) { 
    .grafico--banner2{
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}



/*Footer*/
.footer{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__legend{
    text-align: center;
    font-family: var(--fuenteprincipal);
    font-size: 2rem;
}
